body {
  margin: 0;
  background-color: #3d3d3d;
  color: #fff;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .left-nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #212121;

    img {
      height: 250px;
      width: 100%;
    }

    .nav-buttons-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0;

      a {
        text-decoration: none;
        margin: 5px;
        background-color: white;
        color: black;
        padding: 3%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
  }
  .main-content-container {
    display: flex;

    .content {
      margin: 0 10%;
    }

    .header-wrapper {
      img {
        width: 100%;
      }

      .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .row1-wrapper {
        display: flex;

        p {
          width: 50%;
          margin-right: 20px;
        }

        img {
          width: 50%;
        }
      }

      .row2-wrapper {
        display: flex;

        p {
          width: 50%;
          margin-left: 20px;
        }

        img {
          width: 50%;
        }
      }
    }
  }
}
