body {
  margin: 0;
  background-color: #1c1d21;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .left-nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #090c13;
    border-right: 1px solid #3d3d3d;

    h3 {
      margin: 25px 0;
      color: #ffcd00;
      text-decoration: underline;
    }

    img {
      height: 250px;
      width: 100%;
      background-blend-mode: lighten;
    }

    .nav-buttons-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;

      a {
        text-decoration: none;
        margin: 15px;
        background-color: #ffcd00;
        color: #090c13;
        padding: 3%;
        width: 80%;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 25px;
        border-radius: 7px;
      }

      a:hover {
        transition: 0.2s ease-in-out;
        transform: translateY(-0.35em);
      }
    }
  }
  .right-content-container {
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;

    .main-content-wrapper {
      margin: 0 10%;

      .top-content {
        margin: 20px 0;
      }
    }

    .header-wrapper {
      .pokeball {
        width: 100%;
        height: 250px;
        opacity: 30%;
      }

      .title {
        position: absolute;
        z-index: 1;
        left: 30%;
        top: 7.3%;
        height: 16%;
      }

      .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ffcd00;
        font-size: 20px;
      }

      .text-image-wrapper {
        display: flex;

        p {
          width: 50%;
          margin: 0px;
          padding-right: 5px;
        }

        img {
          height: fit-content;
          width: 50%;
        }
      }

      .image-text-wrapper {
        display: flex;

        p {
          width: 50%;
          margin-left: 20px;
        }

        img {
          height: fit-content;
          width: 50%;
        }
      }

      .bottom-content {
        border-bottom: 1px solid #ffcd00;
        padding-bottom: 20px;
      }

      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .discord-btn {
          margin-top: 30px;
          text-decoration: none;
          border-radius: 20px;
          padding: 10px;
          border: 3px solid #ffcd00;
          color: #ffcd00;
          font-size: 24px;
        }

        .discord-btn:hover {
          background: linear-gradient(to right, #1d1d1d 50%, #ffcd00 50%) right;
          background-size: 200% 100%;
          color: #1d1d1b;
          transition: 0.2s ease-in-out;
        }
      }

      .sm-wrapper {
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 50px;
        color: #ffcd00;
        cursor: pointer;

        .icon {
          padding: 15px;
        }
      }

      .copyright {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        margin: 25px;
        color: #ffcd00;
      }
    }
  }
}
